.evetPageSearchBar {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 230px;
  padding: 20px 20px;
  margin: 20px 0;
  box-shadow: 10px 10px 9px 4px rgba(0, 0, 0, 0.75);
  @media (max-width: 992px) {
    height: 280px;
  }
  @media (max-width: 768px) {
    height: 380px;
  }
  .eventPageForm {
    // margin: 30px;
    .form-control {
      color: #f0f8ff;
      background-color: rgb(148, 39, 126);
      box-shadow: 6px 6px 9px 4px rgba(0, 0, 0, 0.75);
      border: none;
    }
    label {
      color: #f0f8ff;
    }
    .form-label {
      background-color: rgb(148, 39, 126);
      box-shadow: 6px 6px 9px 4px rgba(0, 0, 0, 0.75);
      border-radius: 20px 0 0 20px;
      padding: 5px 8px;
    }
    .dataInput {
      display: flex;
      justify-content: center;
      align-items: center;

      label {
        text-align: center;
        height: 35px;
        width: 30%;
        margin: 0;
        border-right: 2px solid black;
        @media (max-width: 500px) {
          width: 50%;
        }
        @media (max-width: 350px) {
          width: 80%;
        }
      }
      input {
        text-align: center;
        height: 35px;
        width: 60%;
        border-radius: 0px 20px 20px 0px;
        @media (max-width: 500px) {
          width: 50%;
        }
        @media (max-width: 350px) {
          width: 20%;
        }
      }
    }
  }
  .searchButton {
    width: 100%;
    border-radius: 10px;
    border: none;
    box-shadow: 6px 6px 9px 4px rgba(0, 0, 0, 0.75);

    // margin: 4px 1s2px;
    padding: 4px 8px;
    background-color: rgb(148, 39, 126);
    color: #f0f8ff;
    &:hover {
      color: #87cefa;
      box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.75);
    }
  }
}
.warningMessage {
  background-color: rgb(255, 255, 255, 0.7);
  display: inline;
  padding: 3px 6px;
  margin: 0;
  span {
    text-decoration: underline;
    color: rgb(13, 137, 227);
    cursor: pointer;
  }
}
